* { box-sizing: border-box; }

.hero {
	&__wrapper {
		display: block;

		@include tablet {
			display: grid;
			grid-template-columns: 1fr 56%;
			// height: calc(100% - 296px);
			height: 100vh;
		}
	}

	&__content {
		display: block;
		text-align: center;
		padding: 10% 0 10% 0;

		@include tablet {
			padding: 12% 25px 0 25px;
			height: 100%;
			max-height: 700px;
			position: relative;
		}

		header {
			margin: 0 auto 25px;
			width: 90%;
		}
	}

	&__img {
		background-color: $orange;
		background-position: center 35%;
		background-size: cover;
		display: block;
		padding-top: 175%;
		height: 100%;

		@include tablet {
			height: 100%;
			padding-top: 0;
			overflow: hidden;
		}

		&__placeholder {
			filter: blur(40px);
			height: 120vh;
			opacity: .75;
			margin-left: -75px;
			transition: opacity .05s;
			width: 130%;

			&.loaded { opacity: 0; }
		}
	}
}

.section {
	background-color: #fafafa;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	height: auto;
	padding-top: 100%;
	position: relative;
	transition: filter .85s;
	width: 100vw;

	&.hero {
		height: auto;
		padding-top: 0;
	}

	& .fp-section {
		filter: grayscale(100%);
	}

	@include tablet {
		padding-top: 0;

		& .fp-section {
			filter: grayscale(100%);
			height: calc(100vh - 110px); }
		}

  &:nth-of-type(3) {
		background-image: url('../imgs/kia-stinger-bag-opt.jpg');
  }

  &:nth-of-type(5) {
    background-image: url('../imgs/kia-stinger-3.jpg');

		@include small-display {
			background-size: 88%;
		}
  }

  &:nth-of-type(6) {
    background-image: url('../imgs/kia-stinger-drake-commissary-opt.jpg');

		@include small-display {
			background-size: 88%;
		}
  }

  &:nth-of-type(8) {
    background-image: url('../imgs/kia-stinger-good-neighbour-opt.jpg');

		@include small-display {
			background-size: 88%;
		}
  }

	&.active { filter: grayscale(0%); }

	&--padding {
		height: auto;
		padding-top: 0;
	}

  &__inset {
    background-position: center center;
    background-size: cover;
    border: 1px solid #6a6c6b;
		margin: 0 auto 10%;
		padding-top: 75%;
		transform: translateY(6%);
    width: 90%;

		@include tablet {
			margin-bottom: 0;

			.fp-section & {
				height: calc(100vh - 120px);
				padding-top: 0;
				transform: translateY(-3%);
			}
		}

    &.garrison {
      background-image: url('../imgs/kia-stinger-garrison-bespoke.jpg');
    }

    &.walking {
      background-image: url('../imgs/kia-stinger-5.jpg');
    }
  }

	&--nav {
		color: white;
		background-color: lighten(#4a4a4a, 10%);
		height: 100vh;
		max-height: 700px;
		padding-top: 10%;
		text-align: center;

		@include tablet { padding-top: 0; }

		ul {
			max-width: 728px;
			list-style-type: none;
			padding: 0;


			a {
				color: white;
				text-decoration: none;
				transition: color .15s;

				&:hover {
					color: darken(white, 20%);
				}
			}
		}
	}

}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #eaeaea;
}
