.modal {
	background-color: white;
	border: 5px solid $orange;
	box-shadow: 1px -1px 200px 35px rgba(0,0,0,.75);
	height: 90%;
	left: 5%;
	overflow: hidden;
	position: fixed;
	top: 2%;
	width: 90%;
	z-index: 99;

	@include tablet { border: none; }

	&__content {
		background-color: white;
		padding: 25px;
		overflow: scroll;
		position: relative;
		z-index: 99;
		height: 67%;

		@include tablet {
			border: 5px solid $orange;
			min-width: 333px;
			max-width: 450px;
			height: 100%;
			width: 33%;
		}

		h2,
		h3 {
			color: $orange;
			font-weight: 600;
			text-transform: capitalize;
			margin: 0;
		}

		h3 { margin-bottom: 12px; }

		img {
			background-color: gray;
			height: auto;
			min-height: 25%;
			width: 100%;
		}

		&__copy {
			padding-bottom: 45px;
			-ms-overflow-style: none;  // IE 10+

			&::-webkit-scrollbar {
				display: none;  // Safari and Chrome
			}

			p { line-height: 18pt; }
		}
	}

	#map {
		position: relative;
		width: 100%;
		height: 225px;

		@include tablet {
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: -1;
		}

		.map__cta {
			background-color: #4a85fa;
			border-radius: 15px;
			border: 0;
			bottom: 15px;
			color: white;
			cursor: pointer;
			margin: 0 auto;
			padding: 5px;
			position: absolute;
			left: 25%;
			transition: background-color .15s;
			width: 200px;

			&:hover { background-color: darken(#4a85fa, 10%); }

			&:active { background-color: darken(#4a85fa, 20%); }

			&:focus { outline: 0; }

			@include tablet {
				bottom: 25px;
				left: 57%;
				padding: 12px;
				right: 43%;
			}
		}
	}

	.close {
		color: $orange;
		cursor: pointer;
		position: absolute;
		font-weight: bold;
		font-size: 28pt;
		right: 15px;
		top: 15px;
		transition: color .15s;

		&:hover {
			color: darken($orange, 20%);
		}
	}
}

.stop-scroll {
	height: 100% !important;
 	overflow: hidden !important;
}

.modal-open {
	&:after {
	  position: absolute;
		background-color: black;
	  content:"";
	  top:0;
	  left:0;
	  width:100%;
	  height:100%;
	  opacity:0;
	}
}
