
.hover-dot {
  background-image: radial-gradient(
    $orange,
    $orange 30%,
    white 30%,
    white 55%,
    $orange 55%,
    $orange 100%
  );
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  position: absolute;
  transition: background-image 1s;
  width: 50px;

  animation-name: pulse;
  animation-duration: 2000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &.paused {
    animation-play-state:paused;
    background-image: none;
		visibility: hidden;
  }

}

.tooltip {
	background-color: white;
	border: 5px solid $orange;
	font-size: 10pt;
	width: 100%;
	height: auto;
	padding: 10px 10px 0;
	position: absolute;
	// transition: visibility 0s linear 300ms, opacity 300ms;
	opacity: 0;
	visibility: hidden;

	@include tablet {
		font-size: 12pt;
		max-width: 220px;
	}

	&.active {
		// transition: visibility 0s linear 300ms, opacity 300ms;
		visibility: hidden;
		opacity: 0;

		animation: .4s fadeIn;
	  animation-fill-mode: forwards;
	}

	&__close {
		cursor: pointer;
		font-weight: 400;
		position: absolute;
		right: 5px;
		transition: color .15s;

		&:hover { color: lighten(#4a4a4a, 35%); }
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

[data-parent="smart"] {
	bottom: 0;
	right: 0;

	@include tablet {
		top: 3%;
		bottom: auto;
		left: 5%;
		max-width: 420px;
	}
}

[data-parent="furious"] {
	bottom: 0;
	right: 0;

	@include tablet {
		bottom: 10%;
		right: 5%;
		max-width: 425px;
	}
}

[data-parent="back"] {
	bottom: 0;
	right: 0;

	@include tablet {
		bottom: 63%;
		left: 5%;
	}
}

[data-parent="tested"] {
	bottom: 0;
	right: 0;

	@include tablet {
		bottom: 70%;
		right: 5%;
	}
}

[data-parent="moves"] {
	bottom: 0;
	right: 0;
	@include tablet {
		bottom: 60%;
		right: auto;
		left: 5%;
		max-width: 400px;
	}
}

[data-parent="handles"] {
	bottom: 0;
	right: 0;

	@include tablet {
		bottom: 10%;
		right: 5%;
		max-width: 425px;
	}
}

#smart {
	top: 35%;
  left: 13%;
}

#furious {
	top: 45%;
  right: 13%;
}

#back {
	top: 38%;
	left: 14%;
}

#tested {
	top: 34%;
	right: 10%;

	.tooltip {
		right: 200px;
	}
}


#moves {
  bottom: 50%;
  left: 11%;

  // .active & { @include tooltip-anim(moves-slide); }

  & .tooltip {
    width: 95px;

    &::after {
      content: '';
      background-color: $orange;
      width: 15px;
      height: 15px;
      position: absolute;
      bottom: -15px;
    }
    &.active {
      left: 0;
      // top: -230px;
    }
  }
 }

#handles {
  bottom: 25%;
  right: 6%;

  // .active & { @include tooltip-anim(handles-slide); }

  & .tooltip {
    width: 175px;
		right: 300px;

    &::after {
      content: '';
      background-color: $orange;
      width: 15px;
      height: 15px;
      position: absolute;
      top: -15px;
      right: 15px;
    }
    &.active {
    }
  }
}

@keyframes moves-slide {
  0% {
    bottom: 47%;
    left: 9%;
    opacity: .5;
  }
  100% {
    bottom: 46%;
    left: 13%;
    opacity: 1;
  }
 }

@keyframes handles-slide {
  0% {
    bottom: 31%;
    right: 8%;
    opacity: .5;
  }
  100% {
    bottom: 32%;
    right: 13%;
    opacity: 1;
  }
 }

@keyframes pulse {
  0%   { transform: sacale(1); }
  30%  { transform: scale(1); }
  40%  { transform: scale(1.08); }
  50%  { transform: scale(1); }
  60%  { transform: scale(.98); }
  70%  { transform: scale(1.05); }
  80%  { transform: scale(1); }
  100% { transform: scale(1); }
}
