body {
  font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4a4a4a;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 64pt;
}

h2 { font-weight: 300; }

// h3 { margin-top: 55px; }
