body {
  font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4a4a4a;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 24pt;
	margin: 0.25em 0;

	@include tablet {
		font-size: 36pt;
	}

	.smaller & { font-size: 28pt; }
}

h2 {
	font-size: 14pt;
	font-weight: 300;
	margin: 0;

	.smaller & { font-size: 12pt; }
}

h3 {
	font-size: 12pt;
	line-height: 18pt;
	font-weight: 300;

	@include tablet {
	}
}
