body {
  font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #4a4a4a;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 56pt;
	margin: 0.25em 0;
}

h2 {
	font-weight: 300;
	margin: 0; }

h3 {
	font-weight: 300;

	& + h3 {
	 margin-top: 35px;
	}
}
